@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#section-one {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    position: relative;
    width: 90px;
}

a {
    text-decoration: none;
    color:#333;
}

header li {
    list-style: none;
    display: inline-block;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none;
}

header li:hover {
    transform: translateY(-5px);
}

header li #job {
    display: inline-block;
    padding: 5px 50px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

h2 {
    color: #333;
}

b{
    font-size: 1em;
    font-family: 'Parisienne', cursive;
}

p {

    font-weight: 400;
    padding-top: 10px;
    color:#333
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textbox {
    padding-top: 50px;
    position: relative;
    max-width: 600px;
}

.content .textbox h2 {
    color:#333;
    font-size: 3em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textbox a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.content .imgbox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.content .imgbox img {
    max-width: 340px;
}

.thumb {
    position: absolute;
    left:50%;
    bottom: 20px;
    display: flex;
    transform: translateX(-50%);
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0px 30px;
    cursor: pointer;
}

.thumb li:hover {
    transform: translateY(-15px);
}

.thumb li img {
    max-width: 70px;
}

#icons {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#icons li {
    list-style: none;
}

#icons li a {
    display: inline-block;
    margin: 7px 0px;
    transform: scale(0.7);
}

#icons li a:hover {
    transform: translateX(-10px);
}

#icons img {
    height: 40px;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at right 750px);
}

#section-two {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px 0px;
    background: rgb(239, 247, 239);
}

#wrapper {
    display: flex;
}

#left {
    margin: 30px;
}

#right {
    color:#333;
    margin: 40px;
}

#right h1 {
    font-size: 3.5em;
    font-weight: 500;
}

#right p {
    font-weight: 400;
}

#section-three {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px 0px 100px 0px;
    background: white;
    justify-content: center;
    display: flex;
}

#contact-section h1 {
    font-size: 3em;
    font-weight: 500;
}

/* Container for the form */
.form-container {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 30px;
}

/* Style for the form inputs */
.form-container input {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form-container textarea {
    width: 100%;
    padding: 20px;
    height: 200px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}



/* Style for the submit button */
.form-container button {
    background-color: #4CAF50;
    padding: 10px 60px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    margin-top: 15px;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

/* Style for the submit button on hover */
.form-container button:hover {
    background-color: #45a049;
}

#section-four p {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(169, 226, 169);
    text-align: center;
    padding: 20px;
    font-size: 20px;
    color: #555;
    font-weight: 500;
}

#section-four a {
    text-decoration: none;
    color: rgb(9, 238, 9);
}

#section-four a:hover{
    text-decoration: underline;
    color: rgb(25, 238, 9);
    font-size: 25px;
}